<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>黑猫剪辑</string>
    <key>CFBundleDisplayName</key>
    <string>黑猫剪辑</string>
    <key>CFBundleIdentifier</key>
    <string>com.blackcat.videoeditor</string>
    <key>CFBundleExecutable</key>
    <string>VideoEditor</string>
    <key>CFBundleVersion</key>
    <string>2.4.2</string>
    <key>CFBundleShortVersionString</key>
    <string>2.4.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.video</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>黑猫剪辑项目</string>
            <key>CFBundleTypeIconFile</key>
            <string>BCJIcon</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.blackcat.videoeditor.bcj</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.blackcat.videoeditor.bcj</string>
            <key>UTTypeDescription</key>
            <string>黑猫剪辑项目</string>
            <key>UTTypeIconFile</key>
            <string>BCJIcon</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>bcj</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
